<html>
  <body style="background: #ddd; margin: 0px; width: 100%; padding-top: 20px;">
    <table
      cellspacing="0"
      style="
        width: 600px;
        margin: 0 auto;
        background: #f8f8f8;
        position: relative;
        border-radius: 8px;
        border: 1px solid #f8f8f8;
      "
    >
      <tbody>
        <tr>
          <td>
            <table style="margin: 0 auto; width: 100%;">
              <tbody>
                <tr>
                  <td>
                    <table style="width: 100%;">
                      <tbody>
                        <tr>
                          <td style="padding-left: 0px;">
                            <div style="padding: 15px 60px; text-align: center;"></div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td>
                    <table style="width: 100%;">
                      <tbody>
                        <tr>
                          <td
                            style="
                              float: right;
                              text-align: right;
                              width: 60%;
                              color: #7e7e7e;
                              font-family: Arial, Helvetica, sans-serif;
                              font-size: 16px;
                            "
                          ></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td colspan="4">
                    <table
                      cellspacing="0"
                      cellpadding="0"
                      style="
                        width: 100%;
                        background: white;
                        border-radius: 0px 0px 30px 30px;
                        padding-bottom: 40px;
                      "
                    >
                      <tbody>
                        <tr style="width: 100%; padding: 0 20px 81px 20px; border-radius: 4px;">
                          <td colspan="4">
                            <table cellspacing="0" width="100%">
                              <tbody>
                                <tr style="">
                                  <td colspan="4">
                                    <div style="">
                                      <tr>
                                        <td
                                          style="
                                            font-family: Arial, Helvetica, sans-serif;
                                            padding: 20px 60px;
                                          "
                                        >
                                          <p
                                            style="
                                              color: #313131;
                                              font-size: 19px;
                                              margin-top: 50px;
                                              margin-bottom: 40px;
                                            "
                                          >
                                            Hey $name,
                                          </p>
                                          <p style="color: #5f5f5f; font-size: 19px;">
                                            $content
                                          </p>
                                          <p
                                            style="
                                              color: #313131;
                                              font-size: 19px;
                                              margin-top: 80px;
                                            "
                                          >
                                            Thanks,
                                          </p>
                                          <p style="color: #5f5f5f; font-size: 19px;">
                                            Team
                                          </p>
                                        </td>
                                      </tr>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
  <html></html>
</html>
